<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="../assets/styles/about-us.css">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<!--<h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>-->
					<p>At filev, we dedicate ourselves to bringing out comfortable and creative clothing for all sections of society. The name has been derived from the five essential elements of nature and our products are thought and crafted to depict the importance of the five elements in a unique way. Here at filev, we promise to spread knowledge and development through our designs.</p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="../assets/images/one.jpg">
			</div>
		</div>
	</div>

	
</body>
</html>